#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid #000;
    position: relative; /* Necesario para posicionar las imágenes */
}

#nombre {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#portadacontainer {
    position: relative; /* Contenedor relativo para las imágenes */
    width: 200px; /* Fijar el ancho del contenedor */
    height: 200px; /* Fijar la altura del contenedor */
}

#portada {
    position: absolute;
    top: 0px;
    left: 32%;
    width: 200px; /* Fijar el ancho de la imagen */
    height: 200px; /* Fijar la altura de la imagen */
    object-fit: cover; /* Asegurar que la imagen se ajuste al contenedor */
    transition: opacity 0.3s ease-in-out; /* Transición suave */
}

#trasera {
    position: absolute;
    top: 0px;
    left: 32%;
    width: 200px; /* Fijar el ancho de la imagen */
    height: 200px; /* Fijar la altura de la imagen */
    object-fit: cover; /* Asegurar que la imagen se ajuste al contenedor */
    opacity: 0; /* Ocultar la imagen trasera por defecto */
    transition: opacity 0.3s ease-in-out; /* Transición suave */
}
#main:hover #portada {
    opacity: 0; /* Ocultar la imagen delantera al pasar el mouse */
}
#main:hover #trasera {
    opacity: 1; /* Mostrar la imagen trasera al pasar el mouse */
}



